*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body 
{
    background-color: #d9dcd6;
}

.header
{
    position: relative;
    height:80px;
    width:100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

.header h1
{
    display: inline-block;
    font-size: 48px;
    padding: 15px;
}

.header h1 .seo 
{
    color: #d9dcd6;
}

.header nav 
{
    margin-right: 20px;
    padding-right: 20px;
    padding-top: 33px;
   
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul
{
    list-style-type: none;
    display: flex;
}

.header nav ul li 
{
    margin-left: 25px;
    justify-items: end;
}

a 
{
    color: #ffffff;
    text-decoration: none;
}

p
{
    font-size: 16px;
}
/* Image used after header*/
.hero 
{
    height: 800px; 
    width: 100%;
    margin: 0 auto;
    padding: 0;
  
    background-image: url(../images/digital-marketing-meeting.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 100%;
}
/*For Container Between Header and Footer*/
.aboutPage
{   
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    margin-left: 20px;
}

/*section Content*/
.content 
{
    width: 75%;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}
/* Search engine optimization(SEO) article in the Main content of the Web page*/
.SEO 
{   
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Article Search Engine Optimization(SEO) Image */
.SEO img 
{
   
    float: left;
    height: 200px;
    width:250px;
    margin-right: 20px;
}
/* Article Search Engine Optimization(SEO) Heading*/
.SEO h2 
{
    margin:10px 5px;
    padding: 10px;
    font-size: calc(26px + 0.1vw);
    
}
/*In the Main content For Div:"hp" in Article Search Engine Optimization(SEO) */
.content article SEO hp
{   
    float: right;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
}
/* Paragraph in article Search engine Optimization(SEO)*/
.SEO p{
    margin:5px;
    padding: 10px;
    font-size: calc(12px + 0.3vw);
}
/* Online Reputation Management(ORM) article in the Main content of the Web page*/
.ORM 
{
    display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0072bb;
        color: #ffffff;
}
/*Article Online Reputation Management(ORM) Image */
.ORM img 
{
    height: 200px;
        width:250px;
        margin-right: 20px;
}
/* Online Reputation Management(ORM) Heading*/
.ORM h2 
{
    margin:10px 5px;
        padding: 10px;
        font-size: calc(26px + 0.1vw);
}
/*In the Main content For Div:"hp" in Article Online Reputation Management(ORM)  */
.content article ORM hp2
{
        display: flex;
        flex-direction: row;
        width: 100%;
}
/*Paragraph in article Online Reputation Management(ORM)*/
.ORM p
{
    margin:5px;
    padding: 10px;
    font-size: calc(12px + 0.3vw);
}
/* Social Media Marketing(SMM) article in the Main content of the Web page*/
.SMM
{
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
        padding: 50px;
        height: 300px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: #0072bb;
        color: #ffffff;
}
/* Article Social Media Marketing(SMM) Image */
.SMM img
{
    height: 200px;
        width:250px;
        margin-right: 20px;
}
/* Social Media Marketing(SMM) Heading*/
.SMM h2 
{
    margin:10px 5px;
        padding: 10px;
        font-size: calc(26px + 0.1vw);
}
/*In the Main content For Div:"hp" in Article Social Media Marketing(SMM)  */
.content article SMM hp2
{
        display: flex;
        flex-direction: row;
        width: 100%;
}
/*Paragraph in article Social Media Marketing(SMM)*/
.SMM p
{
    margin:5px;
    padding: 10px;
    font-size: calc(12px + 0.3vw);
}

/*Section Benefits */
.benefits 
{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 5px;
    padding: 10px;
    clear: both;
    float: right;
    width: 20%;
    max-width: 100%;
    height: 939.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Article Lead Benefit Lead*/
.benefit-lead 
{
  
    color: #ffffff;
    max-width: 100%;
}
/*Article Lead Benefit Lead Logo*/
.benefit-lead img 
{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Article Lead Benefit Lead Heading*/
.benefit-lead h3 
{
    margin-bottom: 10px;
    text-align: center;
    font-size: calc(20px + 0.1vw);
}
/*Article Lead Benefit Brand*/
.benefit-brand 
{
  
    color: #ffffff;
    max-width: 100%;
}
/*Article Lead Benefit Brand Logo*/
.benefit-brand img 
{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Article Lead Benefit Brand Heading*/
.benefit-brand h3 
{
    
    text-align: center;
    font-size: calc(20px + 0.1vw);
}
/*Article Lead Benefit Cost*/
.benefit-cost 
{
    
    color: #ffffff;
    max-width: 100%;
}
/*Article Lead Benefit Cost Logo*/
.benefit-cost img 
{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Article Lead Benefit Cost Heading*/
.benefit-cost h3 
{
    margin-bottom: 10px;
    text-align: center;
    font-size: calc(20px + 0.1vw);
}
/*Section Benefits Paragraph*/
.benefits p 
{
    margin:5px;
    padding: 10px;
    font-size: calc(12px + 0.3vw);
}

.footer 
{
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.footer h2 
{
    font-size: 20px;
}
